body {
  box-sizing: content-box;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Love Ya Like A Sister', cursive;
}

.wrapper {
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions img {
  background: radial-gradient( white, rgba(255, 255, 255, 0.1));
  border-radius: 25px;
}


#start,
#play-again {
  font-weight: 500;
  width: 100px;
  height: 75px;
  border-radius: 25px;
  border-width: 3px;
  box-shadow: #FC0 1px 0 10px;
  margin-left: 150px;
  margin-top: 30px;
}


#before-game {
  display: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

#start {
  font-size: 1.5em;
  font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
  color: white;
  font-size: 4em;
  text-align: left;
  text-shadow: #FC0 1px 0 10px;
}

#play,
#after-game {
  display: none;
}

canvas {
  display: block;
  position: relative;
  background-color: rgb(0, 0, 68);
  border: 10px solid transparent;
  /* border-image: url('img/christmas_lights/holiday-garland-png-3-transparent.png'); */
  /* border-image-slice: 10; */
  /* border-image-repeat: round; */
  margin: 0 auto;
  background-image: url('../img/starry-sky-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#after-game {
  padding-left: 5%;
}

#score {
  width: 500px;
  padding: 10px;
  background-color: rgba(0, 17, 71, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: white;
  font-size: 3em;
  padding-left: 10px;
}
